/* news-box
------------------------------------------------------------------*/
.news-box {
    padding: 61px 0 20px 0;
    @media(max-width: 991px) {

    }
    @media(max-width: 767px) {

    }

    h2 {
        margin-bottom: 20px;
    }

    .wrap-news-slider {
        @media(max-width: 767px) {
            max-width: 450px;
            margin: 0 auto;
        }
    }

    .news-slider {
        margin-top: 31px;
    }

    .yellow-btn {
        margin: 40px auto;
        width: 200px;
        display: block;
    }
}

.news-slider {
    .owl-item {
        .img-box {
            height: 240px;
            width: 100%;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 20px;
            box-shadow: 0 0px 0px 10px rgba(0, 139, 210, 0) inset;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            &:hover {
                box-shadow: 0 0px 0px 10px #008bd2 inset;
            }
        }
        .date-box {
            opacity: 0.5;
            font-size: 12px;
            font-family: 'latobold';
            margin-bottom: 10px;
        }
        .title {
            color: $black;
            font-size: 18px;
            margin-bottom: 20px;
            display: block;
            line-height: 21px;
            font-family: 'latobold';
            letter-spacing: 0.1px;
            &:hover {
                color: $blue;
            }
        }
        .read-more {
            font-size: 14px;
            color: $yellow;
            line-height: 1;
            letter-spacing: 0.2px;
            display: inline-block;
            clear: left;
            opacity: 0;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            &:hover {
                color: $blue;
            }
        }

        &:hover {
            .read-more {
                opacity: 1;
            }
        }

    }

}

.wrap-range {
    position: relative;
    padding: 14px 0px;
}

.irs-line {
    height: 1px;
    border: none;
    background: $black;
    opacity: 0.2;
    top: 10px;
}

.irs-slider {
    height: 20px;
    top: 0px;
    width: 150px;
    background:none;
    border: none;
    box-shadow: none;
    &:before {
        content: "";
        background: #333;
        height: 5px;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -2px;
    }
    &:hover, &:focus, &:active {
        background: none;
        opacity: 0.8;
    }
}

.irs {
    height: 20px;
}

.irs-bar,
.irs-bar-edge,
.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {
    opacity: 0;
}

.irs-slider.single {
    transition: all 0.3s;
}

.inner-main-cont.article img {
    max-width: 100%;
}
